/* @define-color foreground #f2f0f0; */
/* @define-color foreground #c7c5c5; */
@define-color foreground #bdaba4;
@define-color background #1d131c;
@define-color cursor #f2f0f0;

@define-color color0 #1d131c;
@define-color color1 #A8A8A8;
@define-color color2 #B8B8B8;
@define-color color3 #C7C7C7;
@define-color color4 #DADADA;
@define-color color5 #E5E5E5;
@define-color color6 #F4F4F4;
@define-color color7 #f4f4f4;
@define-color color8 #aaaaaa;
@define-color color9 #A8A8A8;
@define-color color10 #B8B8B8;
@define-color color11 #C7C7C7;
@define-color color12 #DADADA;
@define-color color13 #E5E5E5;
@define-color color14 #F4F4F4;
@define-color color15 #f4f4f4;
