@import "colors-waybar.css";

* {
  border: none;
  border-radius: 0;
  font-family: Maple Mono NF;
  font-size: 15px;
}

#waybar {
  background-color: rgba(29, 19, 28, 0.69);
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

#pulseaudio:hover {
  background-color: #777777;
}

#network:hover {
  background-color: #777777;
}

#language:hover {
  background-color: #777777;
}

#custom-power:hover {
  background-color: #777777;
}

#cpu:hover {
  background-color: #777777;
}

#memory:hover {
  background-color: #777777;
}

#custom-launcher {
	font-size: 27px;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  transition: none;
  color: rgba(189, 171, 164, 0.8);
}

#workspaces {
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  padding: 1px;
}

#workspaces button {
  padding: 0 10px;
  padding-left: 8px;
  font-size: 25px;
  color: @foreground;
  background: rgba(0, 0, 0, 0.0);
}


#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active{
  color: #DAAC9B;
  border-radius: 3px;
  background: transparent;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#cava,
#pulseaudio,
#custom-dnd,
#custom-vpn,
#network,
#temperature,
#language,
#battery {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  transition: none;
  color: #b4c7d1;
  color: @foreground;
  background: rgba(0, 0, 0, 0.0);
}

#memory,
#cpu,
#custom-spotify_status {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-bottom: 0px;
  transition: none;
  color: #b4c7d1;
  color: @foreground;
  background: transparent;
}

#custom-dnd.enabled {
  background: @foreground;
  color: @background;
  font-size: 17px;
}

#custom-dnd.disabled {
  background: transparent;
  color: @foreground;
  font-size: 17px;
}

#custom-vpn.enabled {
	background: transparent;
	color: @foreground;
	font-size: 17px;
} 

#custom-vpn.disabled {
	background: transparent;
	color: @foreground;
	font-size: 17px;
}

#clock {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
  transition: none;
  color: @foreground;
  background: rgba(0, 0, 0, 0);
}

#custom-power {
  font-size: 18px;
  padding-left: 10px;
  padding-right: 15px;
  margin-right: 10px;
  margin-bottom: 0px;
  transition: none;
  color: #b4c7d1;
  color: @foreground;
  background: none;
}

#cava {
  font-size: 17px;
}

#battery.charging,
#battery.plugged {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  transition: none;
  color: #b4c7d1;
  color: @foreground;
  background: none;
}

@keyframes blink {
  to {
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.8s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#pulseaudio.muted {
  color: @text;
}

#custom-launcher {
  color: #F5D6AB;
}

#cpu{
  color: #CE9F7B;
}

#memory{
  color: #A68A76;
}

#workspaces button {
  color: #DAAC9B;
}

#custom-spotify_status{
  color: #CE9F7B;
}

#clock {
  color: #F5D6AB;
}

#language{
  color: #CE9F7B;
}

#temperature{
  color: #A68A76;
}

#cava{
  color: #F5D6AB;
}

#custom-dnd{
  color: #CE9F7B;
}

#pulseaudio{
  color: #DAAC9B;
}

#battery{
  color: #AB9B95;
}

#custom-power{
  color: #DAAC9B;
}
